body {
  background-color: #fff;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  cursor: pointer;
}

.topnav a.active {
  background-color: #000;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  margin-bottom:4px;
  padding-left: 9px;
  cursor: pointer;
}

.topnav .icon {
  display: none;
  font-size: 2em;
}

.general-padding {
  padding-left:16px;
  padding-right:16px;"
}

.tab {
  overflow: hidden;
  border: 1px solid #000;
  background-color: #fff;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {

}

.tab button.active {
  background-color: #000;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin:0;
  padding:0;
  width: 100%;
}
table tr {
  border: 1px solid #ddd;
  padding: 2px;
}
table th, table td {
  padding: 2px;
  text-align: left;
}

table th {

}

.link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.image {
  border-radius: 75px;
  float: left;
  padding-top:9px;
  padding-bottom-9px;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
  }

}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-bottom: 4px;
  }
  table td {
    border-bottom: 1px dotted #ccc;
    display: block;
    text-align: left;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
